<div class="container-fluid p-3">
    <div class="row header">
      <div class="col-12">
        <h2 class="float-left">Proveedor</h2>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 pt-2">
          
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div [hidden]="true">
              <mat-form-field>
                <input matInput formControlName="id" />
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div>
                    <mat-form-field class="col-12">
                        <input matInput placeholder="Nombre" formControlName="nombre_Proveedor" />
                        <mat-error *ngIf="messages.nombre_Proveedor">
                        {{ messages.nombre_Proveedor}}
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div>
                    <mat-form-field class="col-12">
                        <input matInput placeholder="Teléfono" formControlName="telefono" />
                        <mat-error *ngIf="messages.telefono">
                        {{ messages.telefono}}
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div>
                    <mat-form-field class="col-12">
                        <input matInput placeholder="Correo" formControlName="correo_Electronico" />
                        <mat-error *ngIf="messages.correo_Electronico">
                        {{ messages.correo_Electronico}}
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="col-12">
                <button mat-raised-button type="button" color="primary" (click)="goToList()"><mat-icon>arrow_back_ios</mat-icon>Volver</button>   
                <button mat-raised-button class="ml-3" color="primary" type="submit"><mat-icon>save</mat-icon>Guardar</button>                   
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  
    
    
    